body, html{
  height:100%;
}
body{
  margin: 0px;
  background-image: url(dancefloor-hero.jpeg);
  background-size: cover;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
  text-decoration: none;
  padding: 10px;
  background-color: black;
  border: 1px solid goldenrod;
}
.topbar{
  height: 42px;
  background-color: #555;
}
.title{
  background-color: gold;
  color: black;
}
  .dancer{
    width: 55px;
    height: 120px;
    background-image: url(blackDancer.jpg);
    background-size: cover;
    background-color: transparent;
    position:absolute;
    transition: all 0.5s ease;
  }

  .bouncy{
    width: 55px;
    height: 120px;
    background-image: url(blackDancer.jpg);
    background-size: cover;
    background-color: transparent;
    position:absolute;
    top: 10px !important;
    transition: all 0.5s ease;
  }