body, html{
  height:100%;
}
body{
  margin: 0px;
  background-image: url(assets/dancefloor-hero.jpeg);
  background-size: cover;
  font-size: 18px;
  overflow: hidden;
  height: 100vh;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title,
.addDancerButton{
  float:right;
  text-decoration: none;
  padding: 10px 12px;
  text-decoration: none;
  background-color: greenyellow;
  border: 2px solid white;
  color: black !important;
}

.crazyButton1{
  padding: 10px 12px;
  float: left;
  text-decoration: none;
  background-color: turquoise;
  border: 2px solid white;

}

.crazyButton2{
  padding: 10px 12px;
  float: left;
  text-decoration: none;
  background-color: greenyellow;
  border: 2px solid white;

}

.crazyButton3{
  padding: 10px 12px;
  float: left;
  text-decoration: none;
  background-color: orange;
  border: 2px solid white;

}

.moveAgainButton{
  padding: 10px 12px;
  float: left;
  text-decoration: none;
  background-color: purple;
  border: 2px solid white;
}

.crazyMove{
  padding: 10px 12px;
  float: left;
  text-decoration: none;
  background-color: red;
  border: 2px solid white;
}


.topbar{
  height: 42px;
  background-color: rgb(37, 37, 37);
}
.title{
  background-color: gold;
  color: black;
}


.disco-ball{
  width: 250px;
  z-index: 1;
  -webkit-animation:spin 4s linear infinite;
  -moz-animation:spin 4s linear infinite;
  animation:spin 8s linear infinite;
  position: absolute;
  left: 80%;
}

.dancer{
  background-size: cover;
  background-color: transparent;
  position:absolute;
  transition: all .5s ease;
}



/* bouncy */

.bouncy1{
  width: 55px;
  height: 120px;
  background-image: url(assets/blackDancer.jpg);
  background-size: cover;
  background-color: transparent;
  position:absolute;
  transition: all 0.75s ease;
}

.bouncy2{
  width: 55px;
  height: 120px;
  background-image: url(assets/blackDancer.jpg);
  background-size: cover;
  background-color: transparent;
  position:absolute;
  top: 2px !important;
  transition: all 0.75 ease;
}



/* robotDancer */

.robot{
  background-size: cover;
  background-color: transparent;
  transition: all .5s ease;
  width: 120px;
  height: 120px;
  background-image: url(assets/kisspng-disco-robot-dancer-cartoon-happy-robot-5a955811cff7b6.5943438715197368498518.png);
  position: absolute;
  overflow: hidden;
  -webkit-animation:spin 4s linear infinite;
  -moz-animation:spin 4s linear infinite;
  animation:spin 4s linear infinite;
  transition: all .5 ease;
  background-clip:content-box;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }


